numpy
scipy
pyrealsense2
opencv-python
pyzmq
hydra-core
h5py
pyyaml
matplotlib
pillow
torch
torchvision
torchaudio
transformers
diffusers
accelerate
einops
mcap
mcap-protobuf-support
mcap-python-client>=1.1.0