<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="fr3">
  
  <!-- Parameters -->
  <xacro:arg name="arm_id" default="fr3" />
  <xacro:arg name="robot_ip" default="192.168.1.59" />
  <xacro:arg name="use_fake_hardware" default="false" />
  <xacro:arg name="hand" default="true" />
  <xacro:arg name="gazebo" default="false" />
  <xacro:arg name="no_prefix" default="false" />
  <xacro:arg name="ee_id" default="franka_hand" />
  <xacro:arg name="with_sc" default="false" />
  <xacro:arg name="fake_sensor_commands" default="false" />
  <xacro:arg name="gazebo_effort" default="false" />
  <xacro:arg name="multi_arm" default="false" />
  
  <!-- Include the base Franka robot description -->
  <xacro:include filename="$(find franka_description)/robots/common/franka_robot.xacro" />
  
  <!-- Create the Franka robot with ros2_control enabled -->
  <xacro:franka_robot
    arm_id="$(arg arm_id)"
    joint_limits="${xacro.load_yaml('$(find franka_description)/robots/fr3/joint_limits.yaml')}"
    inertials="${xacro.load_yaml('$(find franka_description)/robots/fr3/inertials.yaml')}"
    kinematics="${xacro.load_yaml('$(find franka_description)/robots/fr3/kinematics.yaml')}"
    dynamics="${xacro.load_yaml('$(find franka_description)/robots/fr3/dynamics.yaml')}"
    hand="$(arg hand)"
    ee_id="$(arg ee_id)"
    gazebo="$(arg gazebo)"
    with_sc="$(arg with_sc)"
    ros2_control="true"
    robot_ip="$(arg robot_ip)"
    use_fake_hardware="$(arg use_fake_hardware)"
    fake_sensor_commands="$(arg fake_sensor_commands)"
    gazebo_effort="$(arg gazebo_effort)"
    no_prefix="$(arg no_prefix)"
    arm_prefix=""
    connected_to="base">
  </xacro:franka_robot>
  
</robot> 